* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
    background-color: black;
}
#time {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #d0d0d0;
}